#mail-list-section {
  background: rgb(4, 52, 87);
  background: linear-gradient(
    180deg,
    rgba(4, 52, 87, 1) 0%,
    rgba(4, 4, 4, 1) 36%
  );
  color: whitesmoke;

  #imageContainer {
    padding: 0;
    img {
      overflow: hidden;
    }
  }
}
