#mail-list-section {
  /*background: rgb(4, 52, 87);
  background: linear-gradient(
    180deg,
    rgba(4, 52, 87, 1) 0%,
    rgba(4, 4, 4, 1) 36%
  );*/
  background-color: whitesmoke;

  #imageContainer {
    padding: 0;
    img {
      overflow: hidden;
      object-fit: cover;
    }
  }

  #content-container {
    #mail-title {
      font-size: 6rem;
      font-weight: 200;
      @media (max-width: 768px) {
        font-size: 4rem;
      }
      @media (max-width: 576px) {
        font-size: 3rem;
      }
    }

    #enroll-cta,
    #email-cta {
      max-width: 300px;
      height: 250px;
    }

    #content-body {
      overflow: hidden;

      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
